*{ margin: 20px;}
form{ background-color: brown; width:
    350px; height: 500px; margin-left: 100px; padding-left: 10px; 
  color: black;
border-radius: 20px;
background-image: url(./style/pexels-pixabay-45911.jpg)}


